
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IBM+Plex+Mono:wght@400;700&family=Londrina+Solid:wght@100;400;900&family=Lora:wght@400;700&family=Raleway:wght@400;700&display=swap');


body {
    text-align: center;
    background-color: slategrey;
}   
p {
    font-size: 22px;
    color: cornsilk;
    font-weight: 700;
}
h1 {
    color: rgb(0, 238, 255);
    font-weight: 700;
    font-size: 2em;
    text-decoration: underline;
}
.serif {
    font-family: 'Lora';
    font-weight: 700;
}
.sans-serif {
    font-family: 'Raleway';
    font-weight: 700;
}
.fantasy {
    font-family: 'Londrina Solid';
    font-weight: 100;
    letter-spacing: 2px;
    font-weight: 700;
}
.cursive {
    font-family: 'Amatic SC';
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: 700;
}
.monospace {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
}
.serif, .sans-serif, .monospace, .fantasy, .cursive {
    color: deepskyblue;
    font-size: 1.2em;
}